@import "tailwindcss";
@import "@heroui/styles";
/* Light Theme - Soft Teal */

:root {
  background: linear-gradient(
    to bottom,
    #d2f2ec,
    #8af8e6,
    #d2f2ec
  );

  color: #0f172a;
}

:root body {
  background: transparent;
  color: #0f172a;
  transition: all 0s ease;
}

/* Dark Theme - আগেরটাই */

:root[data-theme="deepBlue"] {
  background: linear-gradient(
    to bottom,
    #020916,
    #071c37,
    #020916
  );

  color: white;
}

:root[data-theme="deepBlue"] body {
  background: transparent;
  color: white;
  transition: all 0s ease;
}

.bg-grid-pattern {
  background-image:
    linear-gradient(
      rgba(128, 128, 128, 0.12) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(128, 128, 128, 0.12) 1px,
      transparent 1px
    );

  background-size: 50px 50px;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}