@import "tailwindcss";
@import "@heroui/styles"; 
/* Light Theme - Soft Teal */

:root {
  background: linear-gradient(
    to bottom,
    #d7f1ed,
    #95e6da,
    #5ef0dc
  );

  color: #0f172a;
}

:root body {
  background: transparent;
  color: #0f172a;
  transition: all 0.3s ease;
}

/* Dark Theme - আগেরটাই */

:root[data-theme="deepBlue"] {
  background: linear-gradient(
    to bottom,
    #06152b,
    #0a2342,
    #102f56
  );

  color: white;
}

:root[data-theme="deepBlue"] body {
  background: transparent;
  color: white;
  transition: all 0.3s ease;
}
